.stats-item__title {
  font-size: 14px;
  color: #545658;
  margin-bottom: 8px;
}
.stats-item__value {
  font-size: 24px;
  color: var(--color-text-primary);
}
.stats {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.stats-item {
  flex: 1;
  min-width: 200px;
}

.stats::after {
  content: "";
  flex: auto;
}

.section-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 15px;
}

.homepage__mobile-link {
  display: none;
}

.homepage .section-title-wrapper:first-child {
  margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .section-title-wrapper a{
    display: none;
  }
  .homepage__mobile-link {
    display: inline-block;
    margin-top:10px;
  }
}