.cryptocurrencies__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.cryptocurrencies__list a {
  flex: 0 31%;
}

.cryptocard__logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.cryptocurrencies__search {
  margin-bottom: 30px;
}

.cryptocurrencies__search input {
  max-width: 250px;
}

@media screen and (max-width: 1200px) {
  .cryptocurrencies__list a {
    flex: 0 48%;
  }
}

@media screen and (max-width: 600px) {
  .cryptocurrencies__list a {
    flex: 1;
  }

  .cryptocurrencies__list {
    flex-direction: column;
  }
}