.app {
  display: flex;
  min-height: 100vh;
}

.app__main {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--color-bg-gray);
}
.app__main-info {
  padding: 25px;
  flex: 1;
}

.app__footer {
  background-color: var(--color-bg-gunmetal);
  padding: 10px;
}
.app__footer-info {
  text-align: center;
  color: var(--color-text-secondary)
}

@media screen and (max-width: 992px) {
  .app {
    flex-direction: column;
  }
}