@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@500&display=swap');

:root {
  --font-base: "Open Sans", sans-serif;
  --font-alt: "Tourney", serif;

  --color-black: #000;
  --color-gray: #d3d3d3;
  --color-white: #fff;
  --color-blue: #98C1D9;
  --color-sienna: #EE6C4D;
  --color-dimBlue: #3D5A80;
  --color-bg-gunmetal: #293241;
  --color-bg-cyan: #E0FBFC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
  display: block;
}